body {
  background-color: #181a1b;
  color: #ffffff;
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
}

.wrapper,
.comments-form {
  width: 650px;
  background-color: #2d363a;
  border-radius: 4px;
}

.login-section,
.comments-form {
  padding: 1rem;
}

.login-section form.login-form {
  margin-top: 1rem;
}

.img-section img {
  width: 100%;
}

input,
textarea {
  color: #fff;
}

.font-weight-bold {
  font-weight: bold;
}

.space-between {
  display: flex;
  justify-content: space-between;
}
