<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8" />
    <title><%= loginMessage %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </head>
  <body>
    <div class="wrapper z-depth-2">
      <div class="img-section">
        <img src="/img/waterfall.jpg" alt="">
      </div>

      <div class="login-section">
        <h4><%= headerMessage %></h4>

        <form method="post" class="login-form">
          <div class="input-field">
            <input id="email" name="email" size="30" type="email" class="validate">
            <label for="email">Email</label>
          </div>

          <div class="input-field">
            <input id="password" name="password" size="30" type="password" class="validate">
            <label for="password">Password</label>
          </div>

          <button class="btn-large waves-effect waves-light disabled" id="submit" type="submit" name="action">
            Login <i class="material-icons right">send</i>
          </button>
        </form>

      </div>
    </div>
  </body>
</html>
<script src="./js/loginPulse.js"></script>
